.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 54px;
    background-color: rgb(235, 180, 235);
    height: 100%;
    z-index: 250;
}
.toolbar__navigation {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
}
.toolbar__toggle-button {
    margin: 10px;
}
